In [3]:
import pandas as pd

# Read the first CSV file into a pandas DataFrame
df1 = pd.read_csv('neighborhoods.csv')

# Read the second CSV file into a pandas DataFrame
df2 = pd.read_csv('incomes.csv')

# Merge the two DataFrames on the ID column
merged_df = pd.merge(df1, df2, on='name')

# Write the merged DataFrame to a new CSV file
merged_df.to_csv('merged.csv', index=False)

In [13]:
import pandas as pd

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('merged.csv')

# Group the DataFrame by the 'name' column
grouped_df = df.groupby('NTAType')

# Concatenate the groups into a single DataFrame
merged_df = pd.concat([grouped_df.get_group(name) for name in grouped_df.groups])

# Write the resulting DataFrame to a new CSV file
merged_df.to_csv('grouped_data.csv', index=False)

In [15]:
import pandas as pd

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('neighborhoods_rent.csv')

df['difference'] = df['AVG_rent'] - df['Max_Rent']

In [16]:
df

,Neighborhood,Median of IncomePC,Max_Rent,AVG_rent,difference
0,Chelsea-Hudson Yards,116503,2913,4243.0,1330.0
1,Chinatown-Two Bridges,29120,728,2100.0,1372.0
2,East Harlem (North),31000,775,1997.0,1222.0
3,East Harlem (South),45701,1143,1997.0,854.0
4,East Midtown-Turtle Bay,146391,3660,3350.0,-310.0
5,East Village,62941,1574,2800.0,1226.0
6,Financial District-Battery Park City,127385,3185,4094.0,909.0
7,Gramercy,106986,2675,3378.0,703.0
8,Greenwich Village,126369,3159,3700.0,541.0
9,Hamilton Heights-Sugar Hill,34831,871,1962.0,1091.0
10,Harlem (North),40873,1022,1962.0,940.0
11,Harlem (South),50013,1250,2110.0,860.0
12,Hell's Kitchen,85091,2127,3397.0,1270.0
13,Inwood,35851,896,1777.0,881.0
14,Lower East Side,49166,1229,2782.0,1553.0
15,Manhattanville-West Harlem,26659,666,1962.0,1296.0
16,Midtown South-Flatiron-Union Square,137773,3444,4300.0,856.0
17,Midtown-Times Square,130277,3257,3700.0,443.0
18,Morningside Heights,44504,1113,2900.0,1787.0
19,Murray Hill-Kips Bay,97813,2445,3350.0,905.0
20,SoHo-Little Italy-Hudson Square,133247,3331,3499.0,168.0
21,Stuyvesant Town-Peter Cooper Village,103468,2587,3550.0,963.0
22,Tribeca-Civic Center,135562,3389,4962.0,1573.0
23,Upper East Side-Carnegie Hill,181109,4528,2538.0,-1990.0
24,Upper East Side-Lenox Hill-Roosevelt Island,95219,2380,3244.0,864.0
25,Upper East Side-Yorkville,109363,2734,2538.0,-196.0
26,Upper West Side (Central),127392,3185,2925.0,-260.0
27,Upper West Side-Lincoln Square,122890,3072,2925.0,-147.0
28,Upper West Side-Manhattan Valley,76623,1916,2900.0,984.0
29,Washington Heights (North),48943,1224,1845.0,621.0
30,Washington Heights (South),35526,888,1845.0,957.0
31,West Village,140977,3524,3775.0,251.0
32,Grand Total,96516,2413,2912.5,499.5

In [5]:
import geopandas as gpd

# Read the GeoJSON file into a geopandas GeoDataFrame
gdf = gpd.read_file('query-2.json')

# Filter the GeoDataFrame to only include certain features
filtered_gdf = gdf[gdf['BoroName'] == 'Manhattan']

# Write the filtered GeoDataFrame to a new GeoJSON file
filtered_gdf.to_file('filtered_file.json', driver='GeoJSON')